absl-py==1.4.0
ansi2html==1.8.0
asn1crypto==1.5.1
async-generator==1.10
async-timeout==4.0.2
cachelib==0.9.0
colorlover==0.3.0
configparser==5.3.0
contourpy==1.1.0
cryptography==40.0.2
cvxopt==1.3.1
cvxpy==1.3.2
cycler==0.11.0
dash==2.11.1
dash-ag-grid==2.2.0
dash-core-components==2.0.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
ecos==2.0.12
editorconfig==0.12.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
filelock==3.12.2
flask==2.2.5
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gevent==22.10.2
greenlet==2.0.2
h11==0.14.0
igraph==0.10.5
iniconfig==2.0.0
ipywidgets==8.0.7
itsdangerous==2.1.2
janitor==0.1.1
joblib==1.3.1
jsbeautifier==1.14.8
jupyterlab-widgets==3.0.8
kaleido==0.2.1
kiwisolver==1.4.4
lazy-loader==0.3
matplotlib==3.7.2
mosek==10.1b4
multidict==6.0.4
multipledispatch==1.0.0
natsort==8.4.0
networkx==3.1
numpy==1.25.0
openpyxl==3.1.2
oscrypto==1.3.0
osqp==0.6.3
outcome==1.2.0
pandas==2.0.3
pandas-flavor==0.5.0
patsy==0.5.3
pillow==10.0.0
plotly==5.15.0
pretty-html-table==0.9.16
protobuf==4.23.3
pyarrow==10.0.1
pycryptodomex==3.18.0
pyjanitor==0.24.0
pyjwt==2.7.0
pyodbc==4.0.39
pyopenssl==23.2.0
pyparsing==3.0.9
pytest==7.4.0
pytz-deprecation-shim==0.1.0.post0
qdldl==0.1.7.post0
retrying==1.3.4
ruamel-yaml==0.17.32
ruamel-yaml-clib==0.2.7
scikit-learn==1.3.0
scipy==1.11.1
scs==3.2.3
seaborn==0.12.2
sniffio==1.3.0
snowflake-connector-python==3.0.4
snowflake-sqlalchemy==1.4.7
sqlalchemy==1.4.49
statsmodels==0.14.0
tenacity==8.2.2
texttable==1.6.7
threadpoolctl==3.1.0
tqdm==4.65.0
trio==0.22.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
werkzeug==2.2.3
widgetsnbextension==4.0.8
wsgi-oauth2==0.2.2
wsproto==1.2.0
xarray==2023.6.0
xbbg==0.7.7
yarl==1.9.2
zope-event==5.0
zope-interface==6.0
